@charset "utf-8";

html {
   background-color: #a1fa9d;
}

body {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-areas: "header"
						 "articles aside";
	grid-column-gap: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	max-width: 960px;
	min-width: 640px;
	background-color: #c7a177;
	font-family: "Helvetica", "Calibri", "Palatino Linotype";  
}

body > header {
	grid-row: 1;
	grid-column: 1/-1;
}

body > header > img {
	display: block;
	width: 100%;
}

body > header > nav li {
   width: 20%;
}

nav > ul {
	background-color: #2db83d;
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

nav > ul > li {
	float: left;
}

nav > ul > li a {
	display: block;
	color: white;
	font: bold 1.1em/1.0em Calibri;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav > ul > li a:hover {
	background-color: #0FA33E
} 

h1 {
	text-indent: 1em;
}

body > header > h1 {
	font: italic 2.0em/1.0em Palatino Linotype;
	letter-spacing: 0.2em;
	text-align: center;
	color: white;
}

p {
	margin: 1em;
	font-size: 0.9em;
}

img {
	width: 100%;
	display: block;
}

aside {
	background-color: #7b5904;
	padding-bottom: 1em;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

input[type=submit], input[type=reset] {
	background-color: #2db83d;
	color: white;
	border: none;
	padding: 16px 12px;
	margin: 4px 2px;
	cursor: pointer;
}

form {
	background-color: #7b5904;
	color: white;
}

form > textarea {
	background-color: #d4f1f9;
}

form > input {
	background-color: #d4f1f9;
}

div.gallery {
	margin: 5px;
	border: 1px solid #000;
	float: left;
	width: 290px;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}

.accordion {
	background-color: #7b5904;
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
}

.accordion-body {
	background-color: #d4f1f9;
	color: black;
	cursor: pointer;
	padding: 4px;
	text-align: left;
}

.accordion-button {
	background-color: #2db83d;
	color: #FFF;
}

.card {
	background-color: #d4f1f9;
	margin: 5px;
	border: 1px solid #000;
	float: left;
	width: 290px;
}

.card-title {
	text-align: center;
	color: black;
}

.card-text {
	text-align: left;
	color: black;
	padding: 4px;
}